*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
nav{
    width: 100%;
    height: 5rem;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-btn{
    background-color: white;
    border: 1px solid aquamarine;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 600;
    color: aqua;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-btn:hover{
    opacity: 0.8;
}
h1{
    margin-block: 2rem;
    text-align: center;
}
.info-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block: 2rem;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form form input{
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 0.2rem 2.2rem;
    border: 1px solid black;
}
.tasks{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 2rem;
}
.container h1{
    font-size: 1.3rem;
}
.container h2{
    font-size: 1.1rem;
}
#inactive{
    display: none;
}
#active{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
}
.tasks-container{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.side-panel{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-self: self-start;
    background-color: aquamarine;
    padding: 3rem;
    height: 100%;
    align-items: center;
}
dialog{
    background-color: transparent;
    border: none;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    gap: 1rem;
}
dialog form{
    display: flex;
    gap: 1rem;
}
#add-project{
    font-size: 0.7rem;
}
#project-name{
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 1rem;
}
#project-name:focus{
    outline: 1px solid aquamarine;
}
.submit-project-name{
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    background-color: aquamarine;
    color: white;
    cursor: pointer;
}
.close-modal{
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    background-color: red;
    color: white;
    cursor: pointer;
}

.btn-project{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    
}
.btn-project:hover{
   background-color: white;
   color: aquamarine;
}
.list-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2rem;
}